.dropdown {
	padding: 4px 0;
}
.dropdown li {
	background-color: rgba(245, 240, 173, 0.5);
	list-style-type: none;
	width: 100%;
	padding: 10px 0 10px 0;
	position: relative;
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.dropdownBtn :first-child:hover,
.dropdown li:hover {
	color: rgb(224, 175, 217);
}
.dropdownBtn.active .dropdown li {
	transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
	opacity: 1;
	visibility: visible;
}
